<h1>Members</h1>
<%= link_to 'New member', new_member_path, class: 'btn' %>
<br />
<br />

<table>
  <tr>
    <th>Name</th>
    <th>Short URL</th>
    <th>Friend Count</th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.name, member %></td>
      <td><%= member.website_short_url %></td>
      <td><%= member.friendships_count %></td>
    </tr>
  <% end %>
</table
